.dark-background {
  background: linear-gradient(to bottom, #555, #333); /* Gradient background */
  color: #fff; /* Text color for better readability on dark background */
  display: grid; /* Use Flexbox for centering */
  align-items: center; /* Center vertically */
  height: 100vh;
}
.custom-title {
  color: #fff; /* Light text color */
  padding: 20px;
  text-align: center; /* Center align the text */
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  font-family: Arial, sans-serif;
}
