<form action="" class="search-bar mt-5 mb-5" (ngSubmit)="search()">
  <input type="search" name="search" pattern=".*\S.*" required [(ngModel)]="searchTerm">
  <button class="search-btn" type="submit">
    <span>Search</span>
  </button>
</form>

<carousel [isAnimated]="true">
  <slide *ngFor="let imageUrl of listOfImageUrls" style="display: flex; justify-content: center; align-items: center;">
    <img src="{{imageUrl}}" alt="slide" style="display: block; max-width: 100%; max-height: 80vh">
  </slide>
</carousel>

<!--<div class="image-grid" >-->
<!--  <div class="image-item" *ngFor="let imageUrl of listOfImageUrls">-->
<!--    <img src="{{imageUrl}}" />-->
<!--  </div>-->
<!--</div>-->
